
.homeNav {
    position: fixed;
    bottom: 0;
    background-color: rgb(219, 222, 224);

    // background-image: linear-gradient(to top, #11be6a, #11ceceee);
    box-shadow: 3px 0px 10px black;
    border-radius: 10px;
   

    &__container {
       
        height: 7vh;
        width: 96vw;
        padding: 1rem;
        display: flex;
        justify-content: space-around;

        .nav {
         height: 5vh;
         box-shadow: 3px 0px 10px white;
     
        }

    }

  

   

}