
@import '../../styles/Partials/mixin';
@import '../../styles/Partials/variables';
@import '../../styles/Partials/global';
@import '../../styles/Utilities/fontUtils';


.community {
    background-color: #ecf1f1;
    padding-top: 1rem;
    padding-bottom: 10vh;
 
   .feedHeader {


        &__title {
            @include mobile-H2;
            color: #434544;
            padding-left: 1rem;
       
        }
   }
    .feed {
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin: 0;

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 1rem;
            padding-right: 1rem;

            .profile {
                display: flex;
                align-items: center;
                
                

                &__img {
                    height: 45px;
                    width: 45px;
                    border-radius: 50%;
                    margin-right: .5rem;
                    border: 3px solid rgb(157, 167, 164);
                }

                &__title {
                    @include mobile-P1
                }
            }

            .count {
                color: #555050;
            }
        }

        &__main {
            

            .text {
                margin: 0;
                padding: 1rem;
                @include mobile-P2;
               

                &--isCompleted{
                    @include mobile-P1;
                }
            }
            .body {
                display: flex;
                justify-content: center;
                min-height: 36vh;
                width: 100%;

                &--img {
                    width: 100vw;
                    height: 20vh;
                }

               
            }
        }

        &__bottom {
            display: flex;
            justify-content: space-between;
            padding: .5rem;

            .resBtn {
                height: 34px;
                width: 34px;
            }


        }
    }
}


