
//font-size Moblie

$mobile-fontSize-H1: 30px;
$mobile-fontSize-H2: 24px;
$mobile-fontSize-H3: 14px;

$mobile-fontSize-P1: 18px;
$mobile-fontSize-P2: 18px;


// line- heigt Mobile

$mobile-lineHeight-H1: 36px;
$mobile-lineHeight-H2: 28px;
$mobile-lineHeight-H3: 20px;

$mobile-lineHeight-P1: 30px;
$mobile-lineHeight-P2: 20px;


// Colors 
$color-primary-text: #13182C;
$color-primary-elements: #2E66E5;
$color-primary-whiteGlobal: #FFFFFF;

$color-secondary-text: #5C667E;
$color-secondary-text-special: #9faaa6;
$color-secondary-lining: #BDC5D5; 

$color-backGround-nav: #787f7e;
$color-backGround-nav-special: #22322d;
$color-backGround-page: #f7f8f9;
$color-backGround-page-special: #12864e;

$color-supporting: #158463;
$color-supporting: #C94515;