
//font-size Moblie

$mobile-fontSize-H1: 28px;
$mobile-fontSize-H2: 20px;
$mobile-fontSize-H3: 14px;
$mobile-fontSize-H4: 11px;
$mobile-fontSize-P1: 15px;
$mobile-fontSize-P2: 13px;
$mobile-fontSize-P3: 11px;

// line- heigt Mobile

$mobile-lineHeight-H1: 36px;
$mobile-lineHeight-H2: 28px;
$mobile-lineHeight-H3: 20px;
$mobile-lineHeight-H4: 16px;
$mobile-lineHeight-P1: 26px;
$mobile-lineHeight-P2: 20px;
$mobile-lineHeight-P3: 16px;

// Colors 
$color-primary-text: #13182C;
$color-primary-elements: #2E66E5;
$color-primary-whiteGlobal: #FFFFFF;

$color-secondary-text: #5C667E;
$color-secondary-lining: #BDC5D5; 

$color-backGround-nav: #232940;
$color-backGround-page: #F7F8F9;

$color-supporting: #158463;
$color-supporting: #C94515;