
@import '../../styles/Partials/mixin';
@import '../../styles/Partials/variables';
@import '../../styles/Partials/global';
@import '../../styles/Utilities/fontUtils';



.countdown-timer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: #012527ee;


    .timer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width:300px;
        height: 300px;
        margin: 0 auto;
        @include mobile-H1;
        font-size: 50px;
        color:#37a862;
    
    svg {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 300px;
    
    }
    
      }
}

.input-container {

    width: 100vw;
    height: auto;
    padding: 1rem;
    text-align: center;



    .input__title {
        @include mobile-H2;
        color: $color-secondary-text-special;
        margin: 1rem;
    }

    .input__time {
        text-align: center;
        border-radius: 10px;
        width: 40px;
        height: 40px;
        background-color: $color-backGround-nav;
        @include mobile-P1;
    }

  }

  .controls {
    text-align: center;


    .button {
        width: 100px;
        border-radius: 20px;
        background-color: $color-backGround-nav-special;
        margin: 1rem;
        @include mobile-P1;
        color: $color-secondary-text-special;
    }
  }