@import '../../../styles/Partials/mixin';
@import '../../../styles/Partials/variables';
@import '../../../styles/Partials/global';
@import '../../../styles/Utilities/fontUtils';



.subcountdown-timer {
    display: flex;
    flex-direction: column;
    align-items:center ;
    width: 100%;
    padding-bottom: 10rem;
    justify-content: center;
    background-color: #b9c5c5ee;

    .toggle {
        position: absolute;
        top:11%;
        right: 38%;
        height: 45px;
        width: 110px;
        background-color:#bbbfbefe;
        display: flex;
        justify-content: end;
        align-items: center;
        border-radius: 50px;
        border: 2px solid rgb(157, 167, 164);
        box-shadow: 0px 0px 3px  2px rgb(84, 87, 86);


        &__circle {
           
            height: 40px;
            width: 45px;
            border-radius: 50%;
            background-color: #4f5d54;
            border: 2px solid rgb(150, 158, 155);

        }
    }

    .profileView {
        position: absolute;
        top:12%;
        right: 0;
        padding: .5rem;

        .prof-Img {
            height: 70px;
            width: 70px;
            border-radius: 50%;
            border: 3px solid rgb(157, 167, 164);
            background-size: cover;
           
        }
    }


    .subtimer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width:300px;
        height: 300px;
        margin: 5rem  auto;
        font-size: 50px;
    
    svg {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 300px;
    
    }
    
      }
}

.subinput-container {

    width: 100vw;
    height: auto;
    padding: 1rem;
    text-align: center;



    .subinput__title {
        @include mobile-H2;
        color: $color-primary-text;
        margin: 1rem;
    
    }


    .subinput__time {
        text-align: center;
        border-radius: 10px;
        width: 40px;
        height: 40px;
        background-color: $color-backGround-nav;
        @include mobile-P1;
    }

  }

  .subcontrols {
    text-align: center;


    .subbutton {
        width: 100px;
        border-radius: 20px;
        background-color: $color-backGround-nav-special;
        margin: 1rem;
        @include mobile-P1;
        color: $color-secondary-text-special;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: .5rem;
    height: auto;
    width: 80vw;
    background-color:   #b9c5c5ee;
    border: 1px solid rgb(157, 167, 164);
    box-shadow: 0px 0px 3px  2px rgb(84, 87, 86);
    border-radius: 10px;

    &__title {

        @include mobile-H2;
    }
  

    &__text {
        text-align: center;
        padding: .5rem;
        color: #323634;
        margin: 0;
        @include mobile-H1;

        &--2 {
            @include mobile-P1;
            padding: .5rem;
            text-align: center;
            margin: 0;
            color: #626764;


        }
     
    }



    &__list {
        color: #323634;

        .list {
            @include mobile-P1;
            color: #626764;

        }
    }



}