@import '../Partials/fonts';
@import '../Partials//variables';


// Mobile font Style

@mixin mobile-H1 {
    font-family: 'Lato-Bold.ttf', sans-serif;
    font-size: $mobile-fontSize-H1; //24px
    font-weight: 700;
    line-height: $mobile-lineHeight-H1; //32px
}
@mixin mobile-H2 {
    font-family: 'Lato-Bold.ttf', sans-serif;
    font-size: $mobile-fontSize-H2; //12px
    font-weight: 600;
    line-height: $mobile-lineHeight-H2; //20px
}
@mixin mobile-H3 {
    font-family: 'Lato-Regular.ttf', sans-serif;
    font-size: $mobile-fontSize-H3; //13px
    font-weight: 600;
    line-height: $mobile-lineHeight-H3; //18px
}

@mixin mobile-P1 {
    font-family: 'Lato-Bold.ttf', sans-serif;
    font-size: $mobile-fontSize-P1; //10px
    font-weight: 600;
    line-height: $mobile-lineHeight-P1; //20px
}

@mixin mobile-P2 {
    font-family: 'Lato-Regular', sans-serif;
    font-size: $mobile-fontSize-P2; //33px
    font-weight: 400;
    line-height: $mobile-lineHeight-P2; //44px
}
