.countdown-timer {

    .timer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width:300px;
        height: 300px;
        margin: 0 auto;
        font-size: 50px;
    
    svg {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 300px;
    
    }
    
      }
}

// .input-container {

//     background-color: antiquewhite;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     right: 0;
//   }

//   .controls {
  
//     background-color: aquamarine;
//   }